html,body {
    overflow-x: hidden;
    background-color: black;
}

.jumbotron {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
/*Navbar Begins*/
.nav {
    min-height: 80px;
}
.navbar-brand {
    line-height: 60px;
    height: 60px;
    padding-top: 8%;
    padding-bottom: 8%;
}
.navbar-brand-mobile {
    display: none;
}
.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 10px;
    color: white !important;
}
.navbar-nav li a:hover {
    color: #bcbec1 !important;
}
.input-group {
    padding-top: 6%;
}
.navbar-default {
    background-color: #24292e;
    border-color: black;
}
.navbar-nav .active a{
    background-color: #191c20 !important;
}
/*Navbar for Mobile Devices Begins*/
/*Smartphones*/
@media only screen and (max-width:767px) {
    .navbar-brand{
        display: none;
    }
    .navbar-brand-mobile {
        display: block;
    }
}
/*Tablets*/
@media only screen and (min-width:768px) {
    .search {
        float: right;
        width: 10%;
    }
}
/*Desktop Screens*/
@media only screen and (min-width:1024px) {
    .search {
        display: block;
    }
}
/*Navbar for Mobile Devices Ends*/

/*Navbar Ends*/


/*about-us Jumbotron Begins*/
.about-us{
    background-color: white !important;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    color: black; 
    font-family: 'Varela Round', sans-serif;
}
.about-us .row1 {
    padding-top: 10%;
    padding-bottom: 5%;
}
.about-us .row {
    padding-top: 5%;
    padding-bottom: 5%;
}
.about-us .rowFirst {
    padding-top: 10%;
    padding-bottom: 5%;
}
.about-us-hr {
    margin-bottom: 0px; 
    margin-top: 0px;
    border-top: 1px solid #8c8b8b;
    width: 80%;
}
.about-us .col-sm-8 {
    margin: 0px;
    padding: 0px;
    text-align:center;
}
.about-us .col-sm-3 img {
    padding: 0px;
    margin: 0px;
    width: 200px;
    height: 200px;
    float: right;
    margin-right: 15%;
}
.table-responsive {
    display: none;
}
.thead-default th {
    color: black;
    background-color: #d6d9db;
}
.about-us .scrollmenu a:hover {
    color: #bcbec1 !important;
}
.about-us .hor{
	float:left;
	width:100%;
	height:200px;
	overflow: visible;
	background-color: #24292e;
	color: white !important;
	white-space: nowrap;
	overflow:auto;
}

.img{
	height:auto;
	padding-left: 1%;
	border-radius: 15%;
	padding-right: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
}

    /* about-us Jumbotron for mobile devices begins */
    @media only screen and (max-width: 767px){
        .about-us {
            background-color: white !important;
            margin-bottom: 0px;
            margin-top: 0px;
            background-color: black;
            background-size: cover;
            background-repeat: no-repeat;
            color: black; 
            font-family: 'Varela Round', sans-serif;
        }
        .about-us .top {
            padding-top: 10%;
        }
        .about-us .row {
            padding-top: 10%;
            padding-bottom: 10%;
            padding-left: 10%;
            padding-right: 10%;
        }
        .about-us .rowFirst {
 	   		padding-top: 10%;
 	   		padding-bottom: 5%;
		}
        .about-us-hr {
            margin-bottom: 0px; 
            margin-top: 0px;
            border-top: 1px solid #8c8b8b;
            width: 50%;
        }
        .about-us .col-sm-3 {
            margin: 0px;
            padding: 0px;
            text-align:center;
        }
        .about-us .col-sm-3 img {
            width: 100%;
            height: 100%;
        }
        .table-responsive {
            display: block;
        }
        .table-desktop {
            display: none;
        }
        /* Force table to not be like tables anymore */
        .table-responsive table, thead, tbody, th, td, tr { 
            display: block; 
        }
        .table-responsive thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
            }
        .table-responsive tr { border: 1px #ccc; }

        .table-responsive td { 
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee; 
            position: relative;
            padding-left: 50%; 
        }

        .table-responsive td:before { 
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%; 
            padding-right: 10px; 
            white-space: nowrap;
        }    
        .table-responsive .tr-header{
            color: black;
            background-color: #d6d9db;

        }
        .table-responsive .tr-header:hover {
            background-color: #d6d9db;
        }
    }
    /* About Us Jumbotron for mobile devices ends*/
/*About Us Jumbotron Ends*/


/*Footer Jumbotron Begins*/
.footer {
    background-color: #24292e !important;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    margin-top: 1px;

}
.fa:hover {
    opacity: 0.7;
    color: white;
    text-decoration: none !important;
}
.footer-text {
    margin-left: 1%;
    margin-right: 1%;
    font-family: 'Ubuntu', sans-serif;
    font-size:15px;
    color:#EEE;
}
.footer .footerheadpad{
	text-align:center;
    color:#EEE;
    font-family: 'Ubuntu', sans-serif;
}
.footercopyright{
    font-size: 90%;
    padding-top: 1px;
    padding-bottom: 10px;
    padding-left: 40%;
    color:#EEE;
}

/*Footer Jumbotron Ends*/
/*Footer for Mobile Devices Begins*/

/*Smartphones*/
@media only screen and (max-width:767px) {
    .footer{
        text-align: center;
        padding-right: 10%;
    }
    .footer-span{
        text-align: center;
        padding-left: 15%;
    }
    .footerheadpad{
        padding-right:8%;
    }
    .footer-text{
        padding-left:1px;
    }
    .footericonpad{
        padding-left: 10%;
        padding-top: 2%;
    }
    .footercopyright{
        padding-left:17%;
        padding-top:3%;
    }
}

/*Footer for Mobile Devices Ends*/

/*howtostart Jumbotron Begins*/
.howtostart {
    background-color: white !important;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    color: black; 
    font-family: 'Varela Round', sans-serif;
    padding-top: 7%;
}
.howtostart .row {
    padding-bottom: 1%;
}
.features-hr {
    margin-bottom: 0px; 
    margin-top: 0px;
    border-top: 1px solid #8c8b8b;
    width: 70%;
}
.howtostart .col-sm-8 {
    margin: 0px;
    padding-bottom: 5%;
    text-align: left;
}
.howtostart .col-sm-8 p{
    padding-top: 2%;
}
/*howtostart Jumbotron for mobile devices begins*/

@media only screen and (max-width: 767px){
.howtostart {
    background-color: white !important;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    color: black; 
    font-family: 'Varela Round', sans-serif;
}
.howtostart .row {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
}
.features-hr {
    margin-bottom: 0px; 
    margin-top: 0px;
    border-top: 1px solid #8c8b8b;
    width: 70%;
}
.howtostart .col-sm-6 {
    margin: 0px;
    padding: 0px;

}
}

/*howtostart Jumbotron for mobile devices ends*/
/*howtostart Jumbotron Ends*/
